In [1]:
# State the null hypothesis
# - Changing the power of the plasma beam has no effect on the etching rate by the machine.

In [2]:
# State the alternate hypothesis
# - Changing the power of the plasma beam does have effect on the etching rate by the machine.

In [3]:
# What is the significance level
# - 0.05

In [4]:
# What are the degrees of freedom of model, error terms, and total DoF
# - DF1: 2 & DF2: 12
# - error terms:
# - Total Dof:

In [ ]:
# use Python to conduct ANOVA

In [5]:
import pandas as pd

In [6]:
df=pd.read_excel('anova_lab_data.xlsx')

In [7]:
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [9]:
df.rename(columns={'Etching Rate': 'etching_rate'},
          inplace=True, errors='raise')

In [10]:
df

   Power   etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [25]:
df.columns=[h.lower().replace(' ','_') for h in df.columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power_        15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [11]:
import statsmodels.api as sm

In [12]:
from statsmodels.formula.api import ols

In [27]:
model=ols('etching_rate ~ C(power_)', data =df).fit()

In [28]:
results_table=sm.stats.anova_lm(model)

In [29]:
results_table

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

In [ ]:
# What conclusions can you draw from the experiment and why?

In [ ]:
# F value is higher then 3.89 from the F table, and the P value is smaller then 0.05 hence reject H0
# - Changing the power of the plasma beam DOES have effect on the etching rate by the machine.