# 1. T test

In [1]:
from scipy.stats import ttest_1samp # this is a one, not an L

In [2]:
from scipy.stats import norm

In [3]:
data = [87,68,69,71,85,86,76]

In [4]:
test = ttest_1samp(a=data,popmean=85)

In [5]:
print (test)

Ttest_1sampResult(statistic=-2.378172554291756, pvalue=0.054904857540624415)

In [6]:
# there is no extreme result - we don´t have enough evidence
# to claim that the boys are underweight
# we would accept the H0 and reject the HA

In [7]:
# if we don´t have the reding / observation we can do like this
sample_mean=80.94
pop_mean=85
sample_std=11.6
n=25

In [8]:
import math

In [9]:
t_statistic = (sample_mean - pop_mean)/(sample_std/(math.sqrt(n-1)))

In [10]:
t_statistic

-1.7146428199482255

In [11]:
# p value
p_value=norm.cdf(t_statistic)

In [12]:
p_value

0.04320536648684992

In [13]:
# critical value
critical_value=norm.ppf(0.05)

In [14]:
critical_value

-1.6448536269514729

In [15]:
# if we are not consistent - accept H0
# in this case we DO have statistical evidence that the boys are underweight

# 2. Anova test exmple

In [16]:
import pandas as pd

In [17]:
df=pd.read_excel('anova_class_example_data.xlsx')

In [18]:
df

    Display_design  Percent_increase_in_sales
0                1                        575
1                2                        565
2                3                        600
3                4                        725
4                1                        542
5                2                        593
6                3                        651
7                4                        700
8                1                        530
9                2                        590
10               3                        610
11               4                        715
12               1                        539
13               2                        579
14               3                        637
15               4                        685
16               1                        570
17               2                        610
18               3                        629
19               4                        710

In [19]:
import statsmodels.api as sm

In [20]:
from statsmodels.formula.api import ols # ordinary least squares

In [ ]:
# samples should be indepedent
# samples should be similar period of time - the same 5 days
# more than 2 samples
# interested in difference not which is better | worse

In [21]:
model=ols('Percent_increase_in_sales ~ C (Display_design)', data =df).fit()

In [22]:
results_table=sm.stats.anova_lm(model)

In [23]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

In [ ]:
# P value is < 0.01 so we can reject H0 and say there is a difference in sales depending on display

In [ ]:
# F value - compare to an F table
# reject H0
# - design DOES matter