In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv (r'strokes_data.csv')

In [36]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [38]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

# EDA/identify problems and fix these - with LOG REG
- drop duplicates
- replace nulls
- encode strings as numbers
- (optional) scale numeric variables

# get your log regression model
# fit it to your data
define X define y, train test split(), fit()

# evaluate model
- confusion matrix
- accuracy score

In [39]:
# drop duplicates
df.duplicated(subset=None, keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
43395    False
43396    False
43397    False
43398    False
43399    False
Length: 43400, dtype: bool

In [40]:
# replace nulls
median = df['bmi'].median () # calculating the median of medianHV

In [41]:
median

27.7

In [42]:
df['bmi'] = df['bmi'].fillna(median)

In [43]:
df[df['bmi'].isna()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [44]:
df[df['smoking_status'].isna()] # nan in smoking status,  replace by unknown

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
10,10460,Female,79.0,0,0,Yes,Govt_job,Urban,77.08,35.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43382,35179,Female,9.0,0,0,No,children,Urban,68.49,16.8,NaN,0
43385,5366,Female,66.0,0,0,Yes,Self-employed,Urban,92.10,24.8,NaN,0
43389,30759,Male,14.0,0,0,No,children,Urban,82.48,24.8,NaN,0
43391,30077,Male,6.0,0,0,No,children,Urban,77.48,19.1,NaN,0
43392,45266,Female,18.0,0,0,No,Private,Urban,131.96,22.8,NaN,0

In [45]:
df['smoking_status'] = df['smoking_status'].fillna('unknown')

In [46]:
df[df['smoking_status'].isna()]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [47]:
# encode strings as numbers
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                43400 non-null  float64
 10  smoking_status     43400 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [50]:
df_cat=df[['gender','ever_married','work_type', 'Residence_type', 'smoking_status']]

In [51]:
df_num=df[['age','hypertension','heart_disease', 'avg_glucose_level', 'bmi', 'stroke']]

In [52]:
#(optional) scale numeric variables

In [53]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          43400 non-null  object
 1   ever_married    43400 non-null  object
 2   work_type       43400 non-null  object
 3   Residence_type  43400 non-null  object
 4   smoking_status  43400 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [57]:
df_cat_enc=pd.get_dummies(df_cat, drop_first=True)

In [59]:
df_cat_enc.columns

Index(['gender_Male', 'gender_Other', 'ever_married_Yes',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Urban',
       'smoking_status_never smoked', 'smoking_status_smokes',
       'smoking_status_unknown'],
      dtype='object')

In [54]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                43400 non-null  float64
 1   hypertension       43400 non-null  int64
 2   heart_disease      43400 non-null  int64
 3   avg_glucose_level  43400 non-null  float64
 4   bmi                43400 non-null  float64
 5   stroke             43400 non-null  int64
dtypes: float64(3), int64(3)
memory usage: 2.0 MB